03.포트폴리오/01.기획서/
*.ipch
03.포트폴리오/리소스모음/
02.국기반/3개월차/190715/.vs/190715/v15/Browse.VC.db
02.국기반/3개월차/190716/.vs/Project2/v15/Browse.VC.db
*.db
*.pch
*.wmv
*.pdb
*.idb
*.obj
*.bmp
*.tlog
*.ico
*.res
*.log
*.ilk
*.exe
*.suo
*.user
*.filters
*.vcxproj
*.rc
*.psd
